
.blue-bg{
    background-color: #042d4d;
    color: white;
}
.logo-div{
    background-color: #f8c301;
}

@media screen and (max-width: 670px){
    header{
        min-height: 500px;
    }
}

.features{
    border: #042d4d solid 1px;
}
.features .row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}
.features .row .col.s7 {
    width: auto;
}
.symbol{
    width: 50px;
}

.carousel.carousel-slider {
    height: 300px !important;
}
.carousel.carousel-slider .carousel-item p {
    font-size: 15px;
    padding: 20px;
}

.features .row .col.s3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
    margin-top: 20px;
}

.features .title{
    font-size: 2rem;
    font-weight: 300;
}

.features p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

.padding-0{
padding: 0 !important;
}

.logo{
    width: 50%;
    height: auto;
    margin: 10px auto;
}

.carousel h4{
    color: white;
}

.header-font{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 2rem !important;
    margin-top: 20px;
    z-index: 20;
}



.mission h5{
    color: #042d4d;
    font-size: 20px;
    text-transform: none;
    font-weight: 400;
}

.wasc{
    width: 50%;
    margin: 30px auto;
    display: block;
}
.card-title{
    z-index: 20;
}
.blue-background{
background-color: rgb(205, 232, 255);
}

h4{
    text-transform: uppercase;
    color: #042d4d;
    font-weight: 400;
}

h5{
    text-transform: uppercase;
    color: #042d4d;
    font-weight: 300;
}
.card-image::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    z-index: 10;
    background: -moz-linear-gradient(top,
      rgba(0, 0, 0, 0) -1%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 1%,
      rgba(0, 0, 0, 0) 6%,
      rgba(0, 0, 0, 0) 11%,
      rgba(0, 0, 0, 0) 15%,
      rgba(0, 0, 0, 1) 91%,
      rgba(0, 0, 0, 1) 95%,
      rgba(0, 0, 0, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top,
      rgba(0, 0, 0, 0) -1%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 1%,
      rgba(0, 0, 0, 0) 6%,
      rgba(0, 0, 0, 0) 11%,
      rgba(0, 0, 0, 0) 15%,
      rgba(0, 0, 0, 1) 91%,
      rgba(0, 0, 0, 1) 95%,
      rgba(0, 0, 0, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) -1%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 1%,
      rgba(0, 0, 0, 0) 6%,
      rgba(0, 0, 0, 0) 11%,
      rgba(0, 0, 0, 0) 15%,
      rgba(0, 0, 0, 1) 91%,
      rgba(0, 0, 0, 1) 95%,
      rgba(0, 0, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
    /* IE6-9 */
  }


  .dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: #042d4d;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}